body {
    background-color: #eeeeee;
    font-family: 'Yanone Kaffeesatz', sans-serif;/*
    background-image: url("https://media.discordapp.net/attachments/522061285324619776/605388268321898506/1.jpg?width=242&height=499");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}