#stickyLogo {
    position: fixed;
    opacity: .5;
}

#firstText {
    font-size: 5vw;
    width: 100%;
    text-align: right;
}
#firstText h2 {
    width: 85%;
}

#secondText {
    font-size: 3vw;
    padding-left: 35%;
    padding-right: 15%;
    text-align: right;
}

#emailLink {
    font-size: 2vw;
    padding-left: 2em;
}

#dialogText {
    font-size: 1vw;
    padding-left: 5em;
}

#adwardName {
    display: block;
    font-size: 2vw;
    padding-left: 5em;
}

#copyright {
    font-size: 1vw;
    padding-left: 5em;
}